src/main/app/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    <http:listener-config name="api-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="api-config" raml="api.raml" consoleEnabled="false" doc:name="Router"/>
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="api-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="put:/customer/{ID}:api-config">
        <set-payload value="{&#xA;                &quot;data&quot;: {&#xA;                  &quot;message&quot;: &quot;Not found when the supplied ID doesn't match a known paymentMean&quot;,&#xA;                  },&#xA;                  &quot;success&quot;: false,&#xA;                  &quot;status&quot;: 404&#xA;              }" doc:name="Set Payload"/>
    </flow>
    <flow name="delete:/customer/{ID}:api-config">
        <set-payload value="{&#xA;                &quot;data&quot;: {&#xA;                  &quot;message&quot;: &quot;Not found when the supplied ID doesn't match a known paymentMean&quot;,&#xA;                  },&#xA;                  &quot;success&quot;: false,&#xA;                  &quot;status&quot;: 404&#xA;              }" doc:name="Set Payload"/>
    </flow>
    <flow name="delete:/paymentMean/{ID}:api-config">
        <set-payload value="{&#xA;                &quot;data&quot;: {&#xA;                  &quot;message&quot;: &quot;Not found when the supplied ID doesn't match a known paymentMean&quot;,&#xA;                  },&#xA;                  &quot;success&quot;: false,&#xA;                  &quot;status&quot;: 404&#xA;              }" doc:name="Set Payload"/>
    </flow>
    <flow name="delete:/customerAccount/{ID}:api-config">
        <set-payload value="{&#xA;                &quot;data&quot;: {&#xA;                  &quot;message&quot;: &quot;Not found when the supplied ID doesn't match a known paymentMean&quot;,&#xA;                  },&#xA;                  &quot;success&quot;: false,&#xA;                  &quot;status&quot;: 404&#xA;              }" doc:name="Set Payload"/>
    </flow>
    <flow name="patch:/customerAccount/{ID}:api-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="patch:/customer/{ID}:api-config">
        <set-payload value="{&#xA;                &quot;id&quot;: &quot;c1234&quot;,&#xA;                &quot;href&quot;: &quot;http://serverlocation:port/customerManagement/customer/c1234&quot;,&#xA;                &quot;name&quot;: &quot;DisplayName&quot;,&#xA;                &quot;status&quot;: &quot;Active&quot;,&#xA;                &quot;description&quot;: &quot;Description string&quot;,&#xA;                &quot;validFor&quot;: {&#xA;                  &quot;startDateTime&quot;: &quot;2013-06-19T04:00:00.0Z&quot;,&#xA;                  &quot;endDateTime&quot;: &quot;2013-04-19T20:42:23.0Z&quot;&#xA;                  },&#xA;                &quot;customerRank&quot;: &quot;3&quot;,&#xA;                &quot;relatedParty&quot;: {&#xA;                  &quot;id&quot;: &quot;1&quot;,&#xA;                  &quot;href&quot;: &quot;http://serverlocation:port/partyManagement/individual/1&quot;,&#xA;                  &quot;role&quot;: &quot;customer&quot;,&#xA;                  &quot;name&quot;: &quot;John Doe&quot;&#xA;                  },&#xA;                &quot;characteristic&quot;: [&#xA;                  {&#xA;                    &quot;name&quot;: &quot;characteristicname1&quot;,&#xA;                    &quot;value&quot;: &quot;characteristicvalue1&quot;&#xA;                  },&#xA;                  {&#xA;                    &quot;name&quot;: &quot;characteristicname2&quot;,&#xA;                    &quot;value&quot;: &quot;characteristicvalue2&quot;&#xA;                  }&#xA;                ],&#xA;                &quot;contactMedium&quot;: [&#xA;                {&#xA;                  &quot;type&quot;: &quot;Email&quot;,&#xA;                  &quot;validFor&quot;: {&#xA;                    &quot;startDateTime&quot;: &quot;2013-04-19T20:42:23.0Z&quot;&#xA;                    },&#xA;                  &quot;medium&quot;: {&#xA;                    &quot;emailAddress&quot;: &quot;abc@tmforum.com&quot;&#xA;                    }&#xA;                  },&#xA;                  {&#xA;                  &quot;type&quot;: &quot;PostalAddress&quot;,&#xA;                  &quot;validFor&quot;: {&#xA;                    &quot;startDateTime&quot;: &quot;2013-04-19T20:42:23.0Z&quot;&#xA;                    },&#xA;                  &quot;medium&quot;: {&#xA;                    &quot;city&quot;: &quot;Wien&quot;,&#xA;                    &quot;country&quot;: &quot;Austria&quot;,&#xA;                    &quot;postcode&quot;: &quot;1020&quot;,&#xA;                    &quot;stateOrProvince&quot;: &quot;Quebec&quot;,&#xA;                    &quot;street1&quot;: &quot;Lassallestrasse7&quot;,&#xA;                    &quot;street2&quot;: &quot;&quot;&#xA;                  }&#xA;                },&#xA;                {&#xA;                  &quot;type&quot;: &quot;TelephoneNumber&quot;,&#xA;                  &quot;validFor&quot;: {&#xA;                    &quot;startDateTime&quot;: &quot;2013-04-19T20:42:23.0Z&quot;&#xA;                    },&#xA;                  &quot;medium&quot;: {&#xA;                    &quot;type&quot;: &quot;mobile&quot;,&#xA;                    &quot;number&quot;: &quot;+436641234567&quot;&#xA;                    }&#xA;                  },&#xA;                {&#xA;                  &quot;preferred&quot;: true,&#xA;                  &quot;type&quot;: &quot;TelephoneNumber&quot;,&#xA;                  &quot;validFor&quot;: {&#xA;                    &quot;startDateTime&quot;: &quot;2013-04-19T20:42:23.0Z&quot;&#xA;                    },&#xA;                  &quot;medium&quot;: {&#xA;                    &quot;type&quot;: &quot;business&quot;,&#xA;                    &quot;number&quot;: &quot;+436641234567&quot;&#xA;                    }&#xA;                  }&#xA;                ],&#xA;                &quot;customerAccount&quot;: [&#xA;                  {&#xA;                    &quot;id&quot;: &quot;1&quot;,&#xA;                    &quot;href&quot;: &quot;http://serverlocation:port/customerManagement/customerAccount/1&quot;,&#xA;                    &quot;name&quot;: &quot;CustomerAccount1&quot;,&#xA;                    &quot;description&quot;: &quot;CustomerAccountDesc1&quot;,&#xA;                    &quot;accountStatus&quot;: &quot;Active&quot;&#xA;                  },&#xA;                  {&#xA;                    &quot;id&quot;: &quot;2&quot;,&#xA;                    &quot;href&quot;: &quot;http://serverlocation:port/customerManagement/customerAccount/2&quot;,&#xA;                    &quot;name&quot;: &quot;CustomerAccount2&quot;,&#xA;                    &quot;description&quot;: &quot;CustomerAccountDesc2&quot;,&#xA;                    &quot;accountStatus&quot;: &quot;Active&quot;&#xA;                  }&#xA;                ],&#xA;                &quot;customerCreditProfile&quot;: [&#xA;                {&#xA;                  &quot;creditProfileDate&quot;: &quot;2013-04-19T20:42:23.0Z&quot;,&#xA;                  &quot;validFor&quot;: {&#xA;                    &quot;startDateTime&quot;: &quot;2013-04-19T20:42:23.0Z&quot;,&#xA;                    &quot;endDateTime&quot;: &quot;2013-06-19T04:00:00.0Z&quot;&#xA;                    },&#xA;                  &quot;creditRiskRating&quot;: 1,&#xA;                  &quot;creditScore&quot;: 1&#xA;                  },&#xA;                {&#xA;                  &quot;creditProfileDate&quot;: &quot;2013-04-19T20:42:23.0Z&quot;,&#xA;                  &quot;validFor&quot;: {&#xA;                    &quot;startDateTime&quot;: &quot;2013-04-19T20:42:23.0Z&quot;,&#xA;                    &quot;endDateTime&quot;: &quot;2013-06-19T04:00:00.0Z&quot;&#xA;                    },&#xA;                  &quot;creditRiskRating&quot;: 1,&#xA;                  &quot;creditScore&quot;: 1&#xA;                  }&#xA;                ],&#xA;                &quot;paymentMean&quot;: [&#xA;                {&#xA;                  &quot;id&quot;: &quot;45&quot;,&#xA;                  &quot;href&quot;: &quot;http://serverlocation:port/customerManagement/paymentMean/45&quot;,&#xA;                  &quot;name&quot;: &quot;my favourite payment mean&quot;&#xA;                  },&#xA;                {&#xA;                  &quot;id&quot;: &quot;64&quot;,&#xA;                  &quot;href&quot;: &quot;http://serverlocation:port/customerManagement/paymentMean/64&quot;,&#xA;                  &quot;name&quot;: &quot;my credit card payment mean&quot;&#xA;                  }&#xA;                ]&#xA;              }" doc:name="Set Payload"/>
    </flow>
    <flow name="patch:/paymentMean/{ID}:api-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/paymentMean:api-config">
        <set-payload value="{&#xA;                [&#xA;                  {&#xA;                    &quot;id&quot;: &quot;45&quot;,&#xA;                    &quot;href&quot;: &quot;http://serverlocation:port/customerManagement/paymentMean/45&quot;,&#xA;                    &quot;name&quot;: &quot;My favourite payment mean&quot;,&#xA;                    &quot;validFor&quot;: {&#xA;                      &quot;startDateTime&quot;: &quot;2013-04-19T16:42:23-04:00&quot;,&#xA;                      &quot;endDateTime&quot;: &quot;2014-04-19T16:42:23-04:00&quot;&#xA;                    },&#xA;                    &quot;paymentMeanType&quot;: &quot;BankAccountDebit&quot;,&#xA;                    &quot;relatedParty&quot;: {&#xA;                      &quot;id&quot;: &quot;1&quot;,&#xA;                      &quot;role&quot;: &quot;customer&quot;,&#xA;                      &quot;name&quot;: &quot;Gustave Flaubert&quot;,&#xA;                      &quot;href&quot;: &quot;http://serverlocation:port/partyManagement/individual/1&quot;&#xA;                    },&#xA;                    &quot;bankAccount&quot;: {&#xA;                      &quot;BIC&quot;: &quot;PSSTFRPPPAR&quot;,&#xA;                      &quot;domiciliation&quot;: &quot;LaBanquePostale–75900ParixCedex15&quot;,&#xA;                      &quot;IBAN&quot;: &quot;FR4620061009010835927F33098&quot;,&#xA;                      &quot;accountHolder&quot;: &quot;Mr.GustaveFlaubert&quot;&#xA;                    }&#xA;                  }&#xA;                ]&#xA;              }" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/customerAccount:api-config">
        <set-payload value="[&#xA;                 {&#xA;                  &quot;id&quot;: &quot;ca1234&quot;,&#xA;                  &quot;href&quot;: &quot;http://serverlocation:port/customerManagement/customerAccount/ca1234&quot;,&#xA;                  &quot;lastModified&quot;: &quot;2014-09-24T18:27:37.059899Z&quot;,&#xA;                  &quot;name&quot;: &quot;sampleaccount&quot;,&#xA;                  &quot;accountType&quot;: &quot;Residential&quot;,&#xA;                  &quot;status&quot;: &quot;Active&quot;,&#xA;                  &quot;description&quot;: &quot;Description string&quot;,&#xA;                  &quot;creditLimit&quot;: 1212121,&#xA;                  &quot;pin&quot;: &quot;pin0&quot;,&#xA;                  &quot;receivableBalance&quot;: 52.3,&#xA;                  &quot;customerAccountTaxExemption&quot;: [&#xA;                    {&#xA;                    &quot;issuingJurisdiction&quot;: &quot;SampleJurisdiction&quot;,&#xA;                    &quot;certificateNumber&quot;: &quot;CATaxExemption1&quot;,&#xA;                    &quot;reason&quot;: &quot;Reason&quot;,&#xA;                    &quot;validFor&quot;: {&#xA;                      &quot;startDateTime&quot;: &quot;2013-04-19T16:42:23.0Z&quot;,&#xA;                      &quot;endDateTime&quot;: &quot;2013-06-19T00:00:00.0Z&quot;&#xA;                      }&#xA;                    },&#xA;                    {&#xA;                    &quot;issuingJurisdiction&quot;: &quot;SampleJurisdiction&quot;,&#xA;                    &quot;certificateNumber&quot;: &quot;CATaxExemption1&quot;,&#xA;                    &quot;reason&quot;: &quot;Reason&quot;,&#xA;                    &quot;validFor&quot;: {&#xA;                      &quot;startDateTime&quot;: &quot;2013-04-19T16:42:23.0Z&quot;,&#xA;                      &quot;endDateTime&quot;: &quot;2013-06-19T00:00:00.0Z&quot;&#xA;                      }&#xA;                    }&#xA;                  ],&#xA;                  &quot;customerAccountRelationship&quot;: [&#xA;                    {&#xA;                      &quot;validFor&quot;: {&#xA;                      &quot;startDateTime&quot;: &quot;2013-04-19T16:42:23.0Z&quot;,&#xA;                      &quot;endDateTime&quot;: &quot;2013-06-19T00:00:00.0Z&quot;&#xA;                      },&#xA;                      &quot;customerAccount&quot;: [&#xA;                        {&#xA;                        &quot;id&quot;: &quot;1&quot;,&#xA;                        &quot;href&quot;: &quot;http://serverlocation:port/customerManagement/customerAccount/1&quot;,&#xA;                        &quot;name&quot;: &quot;CustomerAccount1&quot;,&#xA;                        &quot;description&quot;: &quot;CustomerAccountDesc1&quot;&#xA;                        }&#xA;                      ]&#xA;                    }&#xA;                  ],&#xA;                  &quot;contact&quot;: [&#xA;                  {&#xA;                  &quot;contactType&quot;: &quot;primary&quot;,&#xA;                    &quot;validFor&quot;: {&#xA;                    &quot;startDateTime&quot;: &quot;2013-04-19T16:42:23.0Z&quot;,&#xA;                    &quot;endDateTime&quot;: &quot;2013-06-19T00:00:00.0Z&quot;&#xA;                    },&#xA;                  &quot;contactName&quot;: &quot;DisplayName&quot;,&#xA;                  &quot;partyRoleType&quot;: &quot;CustomerAccountRepresentative&quot;,&#xA;                  &quot;contactMedium&quot;: [&#xA;                    {&#xA;                    &quot;type&quot;: &quot;Email&quot;,&#xA;                    &quot;medium&quot;: {&#xA;                      &quot;emailAddress&quot;: &quot;abc@tmforum.com&quot;&#xA;                      }&#xA;                    },&#xA;                    {&#xA;                    &quot;type&quot;: &quot;PostalAddress&quot;,&#xA;                    &quot;medium&quot;: {&#xA;                      &quot;city&quot;: &quot;Wien&quot;,&#xA;                      &quot;country&quot;: &quot;Austria&quot;,&#xA;                      &quot;postcode&quot;: &quot;1020&quot;,&#xA;                      &quot;stateOrProvince&quot;: &quot;Quebec&quot;,&#xA;                      &quot;street1&quot;: &quot;Lassallestrasse7&quot;&#xA;                      }&#xA;                    },&#xA;                    {&#xA;                    &quot;type&quot;: &quot;TelephoneNumber&quot;,&#xA;                    &quot;medium&quot;: {&#xA;                      &quot;type&quot;: &quot;mobile&quot;,&#xA;                      &quot;number&quot;: &quot;+436641234567&quot;&#xA;                      }&#xA;                    },&#xA;                  {&#xA;                  &quot;preferred&quot;: true,&#xA;                  &quot;type&quot;: &quot;TelephoneNumber&quot;,&#xA;                    &quot;medium&quot;: {&#xA;                      &quot;type&quot;: &quot;business&quot;,&#xA;                      &quot;number&quot;: &quot;+436641234567&quot;&#xA;                      }&#xA;                    }&#xA;                  ],&#xA;                  &quot;relatedParty&quot;: {&#xA;                    &quot;id&quot;: &quot;1&quot;,&#xA;                    &quot;href&quot;: &quot;http://serverlocation:port/partyManagement/individual/1&quot;,&#xA;                    &quot;role&quot;: &quot;customer&quot;&#xA;                    }&#xA;                  }&#xA;                  ],&#xA;                  &quot;customer&quot;: {&#xA;                    &quot;id&quot;: &quot;1&quot;,&#xA;                    &quot;href&quot;: &quot;http://serverlocation:port/customerManagement/customer/1&quot;,&#xA;                    &quot;name&quot;: &quot;Customer1&quot;,&#xA;                    &quot;description&quot;: &quot;CustomerDesc1&quot;&#xA;                    },&#xA;                  &quot;customerAccountBalance&quot;: [&#xA;                    {&#xA;                      &quot;type&quot;: &quot;ReceivableBalance&quot;,&#xA;                      &quot;amount&quot;: 52.3,&#xA;                      &quot;validFor&quot;: {&#xA;                        &quot;startDateTime&quot;: &quot;2013-04-19T16:42:23.0Z&quot;,&#xA;                        &quot;endDateTime&quot;: &quot;2013-06-19T00:00:00.0Z&quot;&#xA;                      },&#xA;                    &quot;status&quot;: &quot;Due&quot;&#xA;                    },&#xA;                    {&#xA;                    &quot;type&quot;: &quot;DepositBalance&quot;,&#xA;                    &quot;amount&quot;: 52.3,&#xA;                    &quot;validFor&quot;: {&#xA;                      &quot;startDateTime&quot;: &quot;2013-04-19T16:42:23.0Z&quot;,&#xA;                      &quot;endDateTime&quot;: &quot;2013-06-19T00:00:00.0Z&quot;&#xA;                    },&#xA;                    &quot;status&quot;: &quot;Paid&quot;&#xA;                    }&#xA;                  ],&#xA;                  &quot;paymentPlan&quot;: [&#xA;                    {&#xA;                    &quot;status&quot;: &quot;Effective&quot;,&#xA;                    &quot;type&quot;: &quot;Type1&quot;,&#xA;                    &quot;priority&quot;: 1,&#xA;                    &quot;amount&quot;: 15.3,&#xA;                    &quot;paymentFrequency&quot;: &quot;monthly&quot;,&#xA;                    &quot;numberOfPayments&quot;: 4,&#xA;                    &quot;validFor&quot;: {&#xA;                    &quot;startDateTime&quot;: &quot;2013-04-19T16:42:23.0Z&quot;,&#xA;                    &quot;endDateTime&quot;: &quot;2013-06-19T00:00:00.0Z&quot;&#xA;                    },&#xA;                    &quot;paymentMean&quot;: {&#xA;                    &quot;id&quot;: &quot;45&quot;,&#xA;                    &quot;href&quot;: &quot;http://serverlocation:port/customerManagement/paymentMean/45&quot;,&#xA;                    &quot;description&quot;: &quot;My favourite payment mean&quot;&#xA;                    }&#xA;                    },&#xA;                    {&#xA;                      &quot;status&quot;: &quot;Ineffective&quot;,&#xA;                      &quot;type&quot;: &quot;Type2&quot;,&#xA;                      &quot;priority&quot;: 2,&#xA;                      &quot;amount&quot;: 20,&#xA;                      &quot;paymentFrequency&quot;: &quot;monthly&quot;,&#xA;                      &quot;numberOfPayments&quot;: 2,&#xA;                      &quot;validFor&quot;: {&#xA;                        &quot;startDateTime&quot;: &quot;2013-04-19T16:42:23.0Z&quot;,&#xA;                        &quot;endDateTime&quot;: &quot;2013-06-19T00:00:00.0Z&quot;&#xA;                      },&#xA;                      &quot;paymentMean&quot;: {&#xA;                        &quot;id&quot;: &quot;70&quot;,&#xA;                        &quot;href&quot;: &quot;http://serverlocation:port/customerManagement/paymentMean/70&quot;,&#xA;                        &quot;name&quot;: &quot;my credit card payment mean&quot;&#xA;                        }&#xA;                    }&#xA;                  ]&#xA;                ]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/customer:api-config">
        <set-payload value="[&#xA;                {&#xA;                  &quot;id&quot;: &quot;c1234&quot;,&#xA;                  &quot;href&quot;: &quot;http://serverlocation:port/customerManagement/customer/c1234&quot;,&#xA;                  &quot;name&quot;: &quot;DisplayName&quot;,&#xA;                  &quot;status&quot;: &quot;Active&quot;,&#xA;                  &quot;description&quot;: &quot;Description string&quot;,&#xA;                  &quot;validFor&quot;: {&#xA;                    &quot;startDateTime&quot;: &quot;2013-06-19T04:00:00.0Z&quot;,&#xA;                    &quot;endDateTime&quot;: &quot;2013-04-19T20:42:23.0Z&quot;&#xA;                    },&#xA;                  &quot;customerRank&quot;: &quot;3&quot;,&#xA;                  &quot;relatedParty&quot;: {&#xA;                    &quot;id&quot;: &quot;1&quot;,&#xA;                    &quot;href&quot;: &quot;http://serverlocation:port/partyManagement/individual/1&quot;,&#xA;                    &quot;role&quot;: &quot;customer&quot;,&#xA;                    &quot;name&quot;: &quot;John Doe&quot;&#xA;                    },&#xA;                  &quot;characteristic&quot;: [&#xA;                    {&#xA;                      &quot;name&quot;: &quot;characteristicname1&quot;,&#xA;                      &quot;value&quot;: &quot;characteristicvalue1&quot;&#xA;                    },&#xA;                    {&#xA;                      &quot;name&quot;: &quot;characteristicname2&quot;,&#xA;                      &quot;value&quot;: &quot;characteristicvalue2&quot;&#xA;                    }&#xA;                  ],&#xA;                  &quot;contactMedium&quot;: [&#xA;                  {&#xA;                    &quot;type&quot;: &quot;Email&quot;,&#xA;                    &quot;validFor&quot;: {&#xA;                      &quot;startDateTime&quot;: &quot;2013-04-19T20:42:23.0Z&quot;&#xA;                      },&#xA;                    &quot;medium&quot;: {&#xA;                      &quot;emailAddress&quot;: &quot;abc@tmforum.com&quot;&#xA;                      }&#xA;                    },&#xA;                    {&#xA;                    &quot;type&quot;: &quot;PostalAddress&quot;,&#xA;                    &quot;validFor&quot;: {&#xA;                      &quot;startDateTime&quot;: &quot;2013-04-19T20:42:23.0Z&quot;&#xA;                      },&#xA;                    &quot;medium&quot;: {&#xA;                      &quot;city&quot;: &quot;Wien&quot;,&#xA;                      &quot;country&quot;: &quot;Austria&quot;,&#xA;                      &quot;postcode&quot;: &quot;1020&quot;,&#xA;                      &quot;stateOrProvince&quot;: &quot;Quebec&quot;,&#xA;                      &quot;street1&quot;: &quot;Lassallestrasse7&quot;,&#xA;                      &quot;street2&quot;: &quot;&quot;&#xA;                    }&#xA;                  },&#xA;                  {&#xA;                    &quot;type&quot;: &quot;TelephoneNumber&quot;,&#xA;                    &quot;validFor&quot;: {&#xA;                      &quot;startDateTime&quot;: &quot;2013-04-19T20:42:23.0Z&quot;&#xA;                      },&#xA;                    &quot;medium&quot;: {&#xA;                      &quot;type&quot;: &quot;mobile&quot;,&#xA;                      &quot;number&quot;: &quot;+436641234567&quot;&#xA;                      }&#xA;                    },&#xA;                  {&#xA;                    &quot;preferred&quot;: true,&#xA;                    &quot;type&quot;: &quot;TelephoneNumber&quot;,&#xA;                    &quot;validFor&quot;: {&#xA;                      &quot;startDateTime&quot;: &quot;2013-04-19T20:42:23.0Z&quot;&#xA;                      },&#xA;                    &quot;medium&quot;: {&#xA;                      &quot;type&quot;: &quot;business&quot;,&#xA;                      &quot;number&quot;: &quot;+436641234567&quot;&#xA;                      }&#xA;                    }&#xA;                  ],&#xA;                  &quot;customerAccount&quot;: [&#xA;                    {&#xA;                      &quot;id&quot;: &quot;1&quot;,&#xA;                      &quot;href&quot;: &quot;http://serverlocation:port/customerManagement/customerAccount/1&quot;,&#xA;                      &quot;name&quot;: &quot;CustomerAccount1&quot;,&#xA;                      &quot;description&quot;: &quot;CustomerAccountDesc1&quot;,&#xA;                      &quot;accountStatus&quot;: &quot;Active&quot;&#xA;                    },&#xA;                    {&#xA;                      &quot;id&quot;: &quot;2&quot;,&#xA;                      &quot;href&quot;: &quot;http://serverlocation:port/customerManagement/customerAccount/2&quot;,&#xA;                      &quot;name&quot;: &quot;CustomerAccount2&quot;,&#xA;                      &quot;description&quot;: &quot;CustomerAccountDesc2&quot;,&#xA;                      &quot;accountStatus&quot;: &quot;Active&quot;&#xA;                    }&#xA;                  ],&#xA;                  &quot;customerCreditProfile&quot;: [&#xA;                  {&#xA;                    &quot;creditProfileDate&quot;: &quot;2013-04-19T20:42:23.0Z&quot;,&#xA;                    &quot;validFor&quot;: {&#xA;                      &quot;startDateTime&quot;: &quot;2013-04-19T20:42:23.0Z&quot;,&#xA;                      &quot;endDateTime&quot;: &quot;2013-06-19T04:00:00.0Z&quot;&#xA;                      },&#xA;                    &quot;creditRiskRating&quot;: 1,&#xA;                    &quot;creditScore&quot;: 1&#xA;                    },&#xA;                  {&#xA;                    &quot;creditProfileDate&quot;: &quot;2013-04-19T20:42:23.0Z&quot;,&#xA;                    &quot;validFor&quot;: {&#xA;                      &quot;startDateTime&quot;: &quot;2013-04-19T20:42:23.0Z&quot;,&#xA;                      &quot;endDateTime&quot;: &quot;2013-06-19T04:00:00.0Z&quot;&#xA;                      },&#xA;                    &quot;creditRiskRating&quot;: 1,&#xA;                    &quot;creditScore&quot;: 1&#xA;                    }&#xA;                  ],&#xA;                  &quot;paymentMean&quot;: [&#xA;                  {&#xA;                    &quot;id&quot;: &quot;45&quot;,&#xA;                    &quot;href&quot;: &quot;http://serverlocation:port/customerManagement/paymentMean/45&quot;,&#xA;                    &quot;name&quot;: &quot;my favourite payment mean&quot;&#xA;                    },&#xA;                  {&#xA;                    &quot;id&quot;: &quot;64&quot;,&#xA;                    &quot;href&quot;: &quot;http://serverlocation:port/customerManagement/paymentMean/64&quot;,&#xA;                    &quot;name&quot;: &quot;my credit card payment mean&quot;&#xA;                    }&#xA;                  ]&#xA;                }&#xA;              ]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/paymentMean/{ID}:api-config">
        <set-payload value="{&#xA;                &quot;id&quot;: &quot;45&quot;,&#xA;                &quot;href&quot;: &quot;http://serverlocation:port/customerManagement/paymentMean/45&quot;,&#xA;                &quot;name&quot;: &quot;My favourite payment mean&quot;,&#xA;                &quot;validFor&quot;: {&#xA;                  &quot;startDateTime&quot;: &quot;2013-04-19T16:42:23-04:00&quot;,&#xA;                  &quot;endDateTime&quot;: &quot;2014-04-19T16:42:23-04:00&quot;&#xA;                },&#xA;                &quot;paymentMeanType&quot;: &quot;BankAccountDebit&quot;,&#xA;                &quot;relatedParty&quot;: {&#xA;                  &quot;id&quot;: &quot;1&quot;,&#xA;                  &quot;role&quot;: &quot;customer&quot;,&#xA;                  &quot;name&quot;: &quot;Gustave Flaubert&quot;,&#xA;                  &quot;href&quot;: &quot;http://serverlocation:port/partyManagement/individual/1&quot;&#xA;                },&#xA;                &quot;bankAccount&quot;: {&#xA;                  &quot;BIC&quot;: &quot;PSSTFRPPPAR&quot;,&#xA;                  &quot;domiciliation&quot;: &quot;LaBanquePostale–75900ParixCedex15&quot;,&#xA;                  &quot;IBAN&quot;: &quot;FR4620061009010835927F33098&quot;,&#xA;                  &quot;accountHolder&quot;: &quot;Mr.GustaveFlaubert&quot;&#xA;                }&#xA;              }" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/customer/{ID}:api-config">
        <set-payload value="{&#xA;                &quot;id&quot;: &quot;c1234&quot;,&#xA;                &quot;href&quot;: &quot;http://serverlocation:port/customerManagement/customer/c1234&quot;,&#xA;                &quot;name&quot;: &quot;DisplayName&quot;,&#xA;                &quot;status&quot;: &quot;Active&quot;,&#xA;                &quot;description&quot;: &quot;Description string&quot;,&#xA;                &quot;validFor&quot;: {&#xA;                  &quot;startDateTime&quot;: &quot;2013-06-19T04:00:00.0Z&quot;,&#xA;                  &quot;endDateTime&quot;: &quot;2013-04-19T20:42:23.0Z&quot;&#xA;                  },&#xA;                &quot;customerRank&quot;: &quot;3&quot;,&#xA;                &quot;relatedParty&quot;: {&#xA;                  &quot;id&quot;: &quot;1&quot;,&#xA;                  &quot;href&quot;: &quot;http://serverlocation:port/partyManagement/individual/1&quot;,&#xA;                  &quot;role&quot;: &quot;customer&quot;,&#xA;                  &quot;name&quot;: &quot;John Doe&quot;&#xA;                  },&#xA;                &quot;characteristic&quot;: [&#xA;                  {&#xA;                    &quot;name&quot;: &quot;characteristicname1&quot;,&#xA;                    &quot;value&quot;: &quot;characteristicvalue1&quot;&#xA;                  },&#xA;                  {&#xA;                    &quot;name&quot;: &quot;characteristicname2&quot;,&#xA;                    &quot;value&quot;: &quot;characteristicvalue2&quot;&#xA;                  }&#xA;                ],&#xA;                &quot;contactMedium&quot;: [&#xA;                {&#xA;                  &quot;type&quot;: &quot;Email&quot;,&#xA;                  &quot;validFor&quot;: {&#xA;                    &quot;startDateTime&quot;: &quot;2013-04-19T20:42:23.0Z&quot;&#xA;                    },&#xA;                  &quot;medium&quot;: {&#xA;                    &quot;emailAddress&quot;: &quot;abc@tmforum.com&quot;&#xA;                    }&#xA;                  },&#xA;                  {&#xA;                  &quot;type&quot;: &quot;PostalAddress&quot;,&#xA;                  &quot;validFor&quot;: {&#xA;                    &quot;startDateTime&quot;: &quot;2013-04-19T20:42:23.0Z&quot;&#xA;                    },&#xA;                  &quot;medium&quot;: {&#xA;                    &quot;city&quot;: &quot;Wien&quot;,&#xA;                    &quot;country&quot;: &quot;Austria&quot;,&#xA;                    &quot;postcode&quot;: &quot;1020&quot;,&#xA;                    &quot;stateOrProvince&quot;: &quot;Quebec&quot;,&#xA;                    &quot;street1&quot;: &quot;Lassallestrasse7&quot;,&#xA;                    &quot;street2&quot;: &quot;&quot;&#xA;                  }&#xA;                },&#xA;                {&#xA;                  &quot;type&quot;: &quot;TelephoneNumber&quot;,&#xA;                  &quot;validFor&quot;: {&#xA;                    &quot;startDateTime&quot;: &quot;2013-04-19T20:42:23.0Z&quot;&#xA;                    },&#xA;                  &quot;medium&quot;: {&#xA;                    &quot;type&quot;: &quot;mobile&quot;,&#xA;                    &quot;number&quot;: &quot;+436641234567&quot;&#xA;                    }&#xA;                  },&#xA;                {&#xA;                  &quot;preferred&quot;: true,&#xA;                  &quot;type&quot;: &quot;TelephoneNumber&quot;,&#xA;                  &quot;validFor&quot;: {&#xA;                    &quot;startDateTime&quot;: &quot;2013-04-19T20:42:23.0Z&quot;&#xA;                    },&#xA;                  &quot;medium&quot;: {&#xA;                    &quot;type&quot;: &quot;business&quot;,&#xA;                    &quot;number&quot;: &quot;+436641234567&quot;&#xA;                    }&#xA;                  }&#xA;                ],&#xA;                &quot;customerAccount&quot;: [&#xA;                  {&#xA;                    &quot;id&quot;: &quot;1&quot;,&#xA;                    &quot;href&quot;: &quot;http://serverlocation:port/customerManagement/customerAccount/1&quot;,&#xA;                    &quot;name&quot;: &quot;CustomerAccount1&quot;,&#xA;                    &quot;description&quot;: &quot;CustomerAccountDesc1&quot;,&#xA;                    &quot;accountStatus&quot;: &quot;Active&quot;&#xA;                  },&#xA;                  {&#xA;                    &quot;id&quot;: &quot;2&quot;,&#xA;                    &quot;href&quot;: &quot;http://serverlocation:port/customerManagement/customerAccount/2&quot;,&#xA;                    &quot;name&quot;: &quot;CustomerAccount2&quot;,&#xA;                    &quot;description&quot;: &quot;CustomerAccountDesc2&quot;,&#xA;                    &quot;accountStatus&quot;: &quot;Active&quot;&#xA;                  }&#xA;                ],&#xA;                &quot;customerCreditProfile&quot;: [&#xA;                {&#xA;                  &quot;creditProfileDate&quot;: &quot;2013-04-19T20:42:23.0Z&quot;,&#xA;                  &quot;validFor&quot;: {&#xA;                    &quot;startDateTime&quot;: &quot;2013-04-19T20:42:23.0Z&quot;,&#xA;                    &quot;endDateTime&quot;: &quot;2013-06-19T04:00:00.0Z&quot;&#xA;                    },&#xA;                  &quot;creditRiskRating&quot;: 1,&#xA;                  &quot;creditScore&quot;: 1&#xA;                  },&#xA;                {&#xA;                  &quot;creditProfileDate&quot;: &quot;2013-04-19T20:42:23.0Z&quot;,&#xA;                  &quot;validFor&quot;: {&#xA;                    &quot;startDateTime&quot;: &quot;2013-04-19T20:42:23.0Z&quot;,&#xA;                    &quot;endDateTime&quot;: &quot;2013-06-19T04:00:00.0Z&quot;&#xA;                    },&#xA;                  &quot;creditRiskRating&quot;: 1,&#xA;                  &quot;creditScore&quot;: 1&#xA;                  }&#xA;                ],&#xA;                &quot;paymentMean&quot;: [&#xA;                {&#xA;                  &quot;id&quot;: &quot;45&quot;,&#xA;                  &quot;href&quot;: &quot;http://serverlocation:port/customerManagement/paymentMean/45&quot;,&#xA;                  &quot;name&quot;: &quot;my favourite payment mean&quot;&#xA;                  },&#xA;                {&#xA;                  &quot;id&quot;: &quot;64&quot;,&#xA;                  &quot;href&quot;: &quot;http://serverlocation:port/customerManagement/paymentMean/64&quot;,&#xA;                  &quot;name&quot;: &quot;my credit card payment mean&quot;&#xA;                  }&#xA;                ]&#xA;              }" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/customerAccount/{ID}:api-config">
        <set-payload value="{&#xA;                &quot;id&quot;: &quot;ca1234&quot;,&#xA;                &quot;href&quot;: &quot;http://serverlocation:port/customerManagement/customerAccount/ca1234&quot;,&#xA;                &quot;lastModified&quot;: &quot;2014-09-24T18:27:37.059899Z&quot;,&#xA;                &quot;name&quot;: &quot;sampleaccount&quot;,&#xA;                &quot;accountType&quot;: &quot;Residential&quot;,&#xA;                &quot;status&quot;: &quot;Active&quot;,&#xA;                &quot;description&quot;: &quot;Description string&quot;,&#xA;                &quot;creditLimit&quot;: 1212121,&#xA;                &quot;pin&quot;: &quot;pin0&quot;,&#xA;                &quot;receivableBalance&quot;: 52.3,&#xA;                &quot;customerAccountTaxExemption&quot;: [&#xA;                  {&#xA;                  &quot;issuingJurisdiction&quot;: &quot;SampleJurisdiction&quot;,&#xA;                  &quot;certificateNumber&quot;: &quot;CATaxExemption1&quot;,&#xA;                  &quot;reason&quot;: &quot;Reason&quot;,&#xA;                  &quot;validFor&quot;: {&#xA;                    &quot;startDateTime&quot;: &quot;2013-04-19T16:42:23.0Z&quot;,&#xA;                    &quot;endDateTime&quot;: &quot;2013-06-19T00:00:00.0Z&quot;&#xA;                    }&#xA;                  },&#xA;                  {&#xA;                  &quot;issuingJurisdiction&quot;: &quot;SampleJurisdiction&quot;,&#xA;                  &quot;certificateNumber&quot;: &quot;CATaxExemption1&quot;,&#xA;                  &quot;reason&quot;: &quot;Reason&quot;,&#xA;                  &quot;validFor&quot;: {&#xA;                    &quot;startDateTime&quot;: &quot;2013-04-19T16:42:23.0Z&quot;,&#xA;                    &quot;endDateTime&quot;: &quot;2013-06-19T00:00:00.0Z&quot;&#xA;                    }&#xA;                  }&#xA;                ],&#xA;                &quot;customerAccountRelationship&quot;: [&#xA;                  {&#xA;                    &quot;validFor&quot;: {&#xA;                    &quot;startDateTime&quot;: &quot;2013-04-19T16:42:23.0Z&quot;,&#xA;                    &quot;endDateTime&quot;: &quot;2013-06-19T00:00:00.0Z&quot;&#xA;                    },&#xA;                    &quot;customerAccount&quot;: [&#xA;                      {&#xA;                      &quot;id&quot;: &quot;1&quot;,&#xA;                      &quot;href&quot;: &quot;http://serverlocation:port/customerManagement/customerAccount/1&quot;,&#xA;                      &quot;name&quot;: &quot;CustomerAccount1&quot;,&#xA;                      &quot;description&quot;: &quot;CustomerAccountDesc1&quot;&#xA;                      }&#xA;                    ]&#xA;                  }&#xA;                ],&#xA;                &quot;contact&quot;: [&#xA;                {&#xA;                &quot;contactType&quot;: &quot;primary&quot;,&#xA;                  &quot;validFor&quot;: {&#xA;                  &quot;startDateTime&quot;: &quot;2013-04-19T16:42:23.0Z&quot;,&#xA;                  &quot;endDateTime&quot;: &quot;2013-06-19T00:00:00.0Z&quot;&#xA;                  },&#xA;                &quot;contactName&quot;: &quot;DisplayName&quot;,&#xA;                &quot;partyRoleType&quot;: &quot;CustomerAccountRepresentative&quot;,&#xA;                &quot;contactMedium&quot;: [&#xA;                  {&#xA;                  &quot;type&quot;: &quot;Email&quot;,&#xA;                  &quot;medium&quot;: {&#xA;                    &quot;emailAddress&quot;: &quot;abc@tmforum.com&quot;&#xA;                    }&#xA;                  },&#xA;                  {&#xA;                  &quot;type&quot;: &quot;PostalAddress&quot;,&#xA;                  &quot;medium&quot;: {&#xA;                    &quot;city&quot;: &quot;Wien&quot;,&#xA;                    &quot;country&quot;: &quot;Austria&quot;,&#xA;                    &quot;postcode&quot;: &quot;1020&quot;,&#xA;                    &quot;stateOrProvince&quot;: &quot;Quebec&quot;,&#xA;                    &quot;street1&quot;: &quot;Lassallestrasse7&quot;&#xA;                    }&#xA;                  },&#xA;                  {&#xA;                  &quot;type&quot;: &quot;TelephoneNumber&quot;,&#xA;                  &quot;medium&quot;: {&#xA;                    &quot;type&quot;: &quot;mobile&quot;,&#xA;                    &quot;number&quot;: &quot;+436641234567&quot;&#xA;                    }&#xA;                  },&#xA;                {&#xA;                &quot;preferred&quot;: true,&#xA;                &quot;type&quot;: &quot;TelephoneNumber&quot;,&#xA;                  &quot;medium&quot;: {&#xA;                    &quot;type&quot;: &quot;business&quot;,&#xA;                    &quot;number&quot;: &quot;+436641234567&quot;&#xA;                    }&#xA;                  }&#xA;                ],&#xA;                &quot;relatedParty&quot;: {&#xA;                  &quot;id&quot;: &quot;1&quot;,&#xA;                  &quot;href&quot;: &quot;http://serverlocation:port/partyManagement/individual/1&quot;,&#xA;                  &quot;role&quot;: &quot;customer&quot;&#xA;                  }&#xA;                }&#xA;                ],&#xA;                &quot;customer&quot;: {&#xA;                  &quot;id&quot;: &quot;1&quot;,&#xA;                  &quot;href&quot;: &quot;http://serverlocation:port/customerManagement/customer/1&quot;,&#xA;                  &quot;name&quot;: &quot;Customer1&quot;,&#xA;                  &quot;description&quot;: &quot;CustomerDesc1&quot;&#xA;                  },&#xA;                &quot;customerAccountBalance&quot;: [&#xA;                  {&#xA;                    &quot;type&quot;: &quot;ReceivableBalance&quot;,&#xA;                    &quot;amount&quot;: 52.3,&#xA;                    &quot;validFor&quot;: {&#xA;                      &quot;startDateTime&quot;: &quot;2013-04-19T16:42:23.0Z&quot;,&#xA;                      &quot;endDateTime&quot;: &quot;2013-06-19T00:00:00.0Z&quot;&#xA;                    },&#xA;                  &quot;status&quot;: &quot;Due&quot;&#xA;                  },&#xA;                  {&#xA;                  &quot;type&quot;: &quot;DepositBalance&quot;,&#xA;                  &quot;amount&quot;: 52.3,&#xA;                  &quot;validFor&quot;: {&#xA;                    &quot;startDateTime&quot;: &quot;2013-04-19T16:42:23.0Z&quot;,&#xA;                    &quot;endDateTime&quot;: &quot;2013-06-19T00:00:00.0Z&quot;&#xA;                  },&#xA;                  &quot;status&quot;: &quot;Paid&quot;&#xA;                  }&#xA;                ],&#xA;                &quot;paymentPlan&quot;: [&#xA;                  {&#xA;                  &quot;status&quot;: &quot;Effective&quot;,&#xA;                  &quot;type&quot;: &quot;Type1&quot;,&#xA;                  &quot;priority&quot;: 1,&#xA;                  &quot;amount&quot;: 15.3,&#xA;                  &quot;paymentFrequency&quot;: &quot;monthly&quot;,&#xA;                  &quot;numberOfPayments&quot;: 4,&#xA;                  &quot;validFor&quot;: {&#xA;                  &quot;startDateTime&quot;: &quot;2013-04-19T16:42:23.0Z&quot;,&#xA;                  &quot;endDateTime&quot;: &quot;2013-06-19T00:00:00.0Z&quot;&#xA;                  },&#xA;                  &quot;paymentMean&quot;: {&#xA;                  &quot;id&quot;: &quot;45&quot;,&#xA;                  &quot;href&quot;: &quot;http://serverlocation:port/customerManagement/paymentMean/45&quot;,&#xA;                  &quot;description&quot;: &quot;My favourite payment mean&quot;&#xA;                  }&#xA;                  },&#xA;                  {&#xA;                    &quot;status&quot;: &quot;Ineffective&quot;,&#xA;                    &quot;type&quot;: &quot;Type2&quot;,&#xA;                    &quot;priority&quot;: 2,&#xA;                    &quot;amount&quot;: 20,&#xA;                    &quot;paymentFrequency&quot;: &quot;monthly&quot;,&#xA;                    &quot;numberOfPayments&quot;: 2,&#xA;                    &quot;validFor&quot;: {&#xA;                      &quot;startDateTime&quot;: &quot;2013-04-19T16:42:23.0Z&quot;,&#xA;                      &quot;endDateTime&quot;: &quot;2013-06-19T00:00:00.0Z&quot;&#xA;                    },&#xA;                    &quot;paymentMean&quot;: {&#xA;                      &quot;id&quot;: &quot;70&quot;,&#xA;                      &quot;href&quot;: &quot;http://serverlocation:port/customerManagement/paymentMean/70&quot;,&#xA;                      &quot;name&quot;: &quot;my credit card payment mean&quot;&#xA;                      }&#xA;                  }&#xA;                ]" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/customer:api-config">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="{&#xA;                &quot;id&quot;: &quot;c1234&quot;,&#xA;                &quot;name&quot;: &quot;DisplayName&quot;,&#xA;                &quot;status&quot;: &quot;New&quot;,&#xA;                &quot;validFor&quot;: {&#xA;                  &quot;startDateTime&quot;: &quot;2013-04-19T16:42:23-04:00&quot;,&#xA;                  &quot;endDateTime&quot;: &quot;&quot;&#xA;                },&#xA;                &quot;customerRank&quot;: 3,&#xA;                &quot;relatedParty&quot;: {&#xA;                  &quot;id&quot;: &quot;1&quot;,&#xA;                  &quot;href&quot;: &quot;http://serverlocation:port/partyManagement/individual/1&quot;&#xA;                },&#xA;                &quot;contactMedium&quot;: [&#xA;                  {&#xA;                    &quot;type&quot;: &quot;Email&quot;,&#xA;                    &quot;medium&quot;: {&#xA;                      &quot;emailAddress&quot;: &quot;abc@tmforum.com&quot;&#xA;                    }&#xA;                  }, {&#xA;                    &quot;preferred&quot;: true,&#xA;                    &quot;type&quot;: &quot;TelephoneNumber&quot;,&#xA;                    &quot;medium&quot;: {&#xA;                      &quot;type&quot;: &quot;business&quot;,&#xA;                      &quot;number&quot;: &quot;+436641234567&quot;&#xA;                    }&#xA;                  }&#xA;                ],&#xA;                &quot;customerCreditProfile&quot;: [&#xA;                  {&#xA;                    &quot;creditProfileDate&quot;: &quot;2013-04-19T16:42:23-04:00&quot;,&#xA;                    &quot;validFor&quot;: {&#xA;                      &quot;startDateTime&quot;: &quot;2013-04-19T16:42:23-04:00&quot;,&#xA;                      &quot;endDateTime&quot;: &quot;2013-06-19T00:00:00-04:00&quot;&#xA;                    },&#xA;                    &quot;creditRiskRating&quot;: &quot;1&quot;,&#xA;                    &quot;creditScore&quot;: &quot;1&quot;&#xA;                  }, {&#xA;                    &quot;creditProfileDate&quot;: &quot;2013-04-19T16:42:23-04:00&quot;,&#xA;                    &quot;validFor&quot;: {&#xA;                      &quot;startDateTime&quot;: &quot;2013-04-19T16:42:23-04:00&quot;,&#xA;                      &quot;endDateTime&quot;: &quot;2013-06-19T00:00:00-04:00&quot;&#xA;                    },&#xA;                    &quot;creditRiskRating&quot;: &quot;1&quot;,&#xA;                    &quot;creditScore&quot;: &quot;1&quot;&#xA;                  }&#xA;                ]&#xA;              }" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/customerAccount:api-config">
        <set-payload value="{&#xA;                &quot;id&quot;: &quot;ca1234&quot;,&#xA;                &quot;lastModified&quot;: &quot;2013-06-19T00:00:00-04:00&quot;,&#xA;                &quot;name&quot;: &quot;sample account number 1&quot;,&#xA;                &quot;accountType&quot;: &quot;Residential&quot;,&#xA;                &quot;status&quot;: &quot;Active&quot;&#xA;              }" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/paymentMean/{ID}:api-config">
        <set-payload value="{&#xA;                &quot;id&quot;: &quot;45&quot;,&#xA;                &quot;href&quot;: &quot;http://serverlocation:port/customerManagement/paymentMean/45&quot;,&#xA;                &quot;name&quot;: &quot;My favourite payment mean&quot;,&#xA;                &quot;validFor&quot;: {&#xA;                  &quot;startDateTime&quot;: &quot;2013-04-19T16:42:23-04:00&quot;,&#xA;                  &quot;endDateTime&quot;: &quot;2014-04-19T16:42:23-04:00&quot;&#xA;                },&#xA;                &quot;paymentMeanType&quot;: &quot;BankAccountDebit&quot;,&#xA;                &quot;relatedParty&quot;: {&#xA;                  &quot;id&quot;: &quot;1&quot;,&#xA;                  &quot;role&quot;: &quot;customer&quot;,&#xA;                  &quot;name&quot;: &quot;Gustave Flaubert&quot;,&#xA;                  &quot;href&quot;: &quot;http://serverlocation:port/partyManagement/individual/1&quot;&#xA;                },&#xA;                &quot;bankAccount&quot;: {&#xA;                  &quot;BIC&quot;: &quot;PSSTFRPPPAR&quot;,&#xA;                  &quot;domiciliation&quot;: &quot;LaBanquePostale–75900ParixCedex15&quot;,&#xA;                  &quot;IBAN&quot;: &quot;FR4620061009010835927F33098&quot;,&#xA;                  &quot;accountHolder&quot;: &quot;Mr.GustaveFlaubert&quot;&#xA;                }&#xA;              }" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
